@model List<biblioteca.Models.ViewModels.AutoresViewModel>

@{
    ViewBag.Title = "Consultar Autores";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Nacionalidad</th>
                <th>Fecha de Nacimiento</th>
                <th>Descripción</th>
            </tr>

            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Nombre</td>
                    <td>@oElemento.Nacionalidad</td>
                    <td>@oElemento.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                    <td>@oElemento.Descripcion</td>
                </tr>
            }

        </table>
    </div>
</div>




